<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:security="http://www.springframework.org/schema/security"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<bean id="unauthorizedEntryPoint" class="com.spring.restfulsecurity.UnauthroizedEntryPoint">
	</bean>
	
	<bean id="restfulAuthenticationFilter2" class="com.spring.restfulsecurity.RestfulAuthenticationFilter2">
	</bean>
	
	<bean id="restfulAuthenticationFilter" class="com.spring.restfulsecurity.RestfulAuthenticationFilter">
		 <constructor-arg type="java.lang.String"><value>/**</value></constructor-arg>
	</bean>
	
      <security:http use-expressions="true"
      				 create-session="stateless"
      				 entry-point-ref="unauthorizedEntryPoint"
      				 authentication-manager-ref="myAuthManager">
      				 <security:custom-filter ref="restfulAuthenticationFilter2" position="FORM_LOGIN_FILTER"/>
      				
      </security:http>
      
      <security:authentication-manager id="myAuthManager" alias="myAuthManager">
	  <security:authentication-provider>
	    <security:user-service>
		<security:user name="mkyong" password="123456" authorities="ROLE_USER" />
		<security:user name="admin" password="123456" authorities="ROLE_ADMIN" />
		<security:user name="dba" password="123456" authorities="ROLE_DBA" />
	    </security:user-service>
	  </security:authentication-provider>
	</security:authentication-manager>
</beans>